<p-toast></p-toast>
<p-confirmDialog header="Atenção" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="card">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <button pButton pRipple type="button" icon="pi pi-plus" iconPos="left" label="Cadastrar" class="p-button-sm p-button-rounded p-button-success" (click)="abrirDialogo()"></button>
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger" [disabled]="!selecionados || !selecionados.length" (click)="excluirCidadesSelecionadas()"></button>
        </div>
        <div class="p-toolbar-group-right">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input  #buscaCidade pInputText type="text" (input)="dt.filterGlobal(buscaCidade.value, 'contains')" placeholder="Buscar">
            </span>
        </div>
    </p-toolbar>

    <p-table #dt [value]="cidades" [rows]="5" [paginator]="true" [(selection)]="selecionados" [globalFilterFields]="['nome']"
    currentPageReportTemplate="Exibindo de {first} a {last} do total de {totalRecords} cidades" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <h5>Lista de Cidades</h5>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                <th>Nome</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cidade>
            <tr>
                <td><p-tableCheckbox [value]="cidade"></p-tableCheckbox></td>
                <td>{{cidade.nome}}</td>
                <td>{{cidade.estado.nome}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="editarCidade(cidade)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="excluirCidade(cidade)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog [(visible)]="cidadeDialog" header="Cidade" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="nome">Nome</label>
                <input type="text" pInputText id="nome" [(ngModel)]="cidade.nome" name="nome" required/>
                <small class="p-error" *ngIf="enviado && !cidade.nome">Informe um nome</small>
            </div>
            <div class="p-field">
                <label for="estado">Estado</label>
                <p-dropdown appendTo="body" [options]="estados" [(ngModel)]="cidade.estado" optionLabel="nome" placeholder="Selecionar" [required]="true"></p-dropdown>
                <small class="p-error" *ngIf="enviado && !cidade.estado">Selecione um estado</small>
            </div>            
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="fecharDialogo()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="salvarCidade()"></button>
        </ng-template>
    </p-dialog>
</div>
